* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #222; /* Koyu arka plan */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 90%;
    max-width: 400px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 20px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 10px;
    font-size: 16px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
    color: #555;
}

.search button:hover {
    background: #d1d1d1;
}

.weather h1 {
    font-size: 60px;
    font-weight: 500;
}

.weather h2 {
    font-size: 35px;
    font-weight: 400;
    margin-top: -5px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    margin-top: 30px;
}

.details p {
    font-size: 14px;
}

.details span {
    display: block;
    font-size: 18px;
    font-weight: 600;
}